---
---

@import index, font, basic, layout, classes

body
  max-width: 60em
  margin: 0 auto

body > header
  border-bottom: 1px solid lighten($dark, 15%)

body > footer
  border-top: 1px solid lighten($dark, 15%)

body > main
  border-bottom: 1px solid lighten($dark, 10%)

@media (min-width: 32em)
  body > header, body > article, body > main, body > footer
    padding: 1.75em calc(22% - 6em)

{% if site.show_related %}

.related span
  display: block
  color: reduce(100)

.related a
  font-size: 1.2em
  font-weight: bold

@media (min-width: 30em)
  .next
    text-align: left

{% endif %}
