---
---

@import index, font, basic, layout, classes

body
  max-width: 60em
  margin: 0 auto

body > header, body > footer
  background: lighten($dark, 5%)
  color: $light

@media (min-width: 32em)
  body > header, body > article, body > main, body > footer
    padding: 1.75em calc(22% - 6em)

@media (prefers-color-scheme: dark)
  html:not([data-theme="light"]) body > header, html:not([data-theme="light"]) body > footer
    background: $dark

{% if site.show_related %}

.related span
  display: block
  color: reduce(100)

.related a
  font-size: 1.2em
  font-weight: bold

@media (min-width: 30em)
  .next
    text-align: left

{% endif %}
